#app-header {
    height: 2rem;
}

#app-header-info-and-links {
    font-size: 0.6rem;
    line-height: 2rem;
    z-index: 2; /* for qrcode floating layers */
    }

    #app-header-info-and-links .left-part,
    #app-header-info-and-links .right-part {
        vertical-align: top;
        display: inline-block;
        position: relative;
        width: 50%;
    }
    #app-header-info-and-links .left-part {
        left: -0.5rem;
        text-align: left;
    }
    #app-header-info-and-links .right-part {
        right: -0.5rem;
        text-align: right;
    }

    #app-header-info-and-links button {
        margin: 0;
        padding: 0 0.5rem;
        white-space: nowrap;
    }

    #app-header-info-and-links button > .label {
        width: auto;
        padding: 0;
    }

    #app-header-info-and-links button > .iconfont ~ .label {
        margin-left: 0;
        padding-left: 0.5rem;
    }

    #app-header-info-and-links a:hover {
        text-decoration: none;
    }

    #app-header-info-and-links .iconfont {
        font-size: 21px;
        width: 21px;
        vertical-align: top;
        margin: 0;
    }

    #app-header-info-and-links .toolbar > li {
        padding: 0;
        margin: 0;
    }
    #app-header-info-and-links button > .label span,
    #app-header-info-and-links button,
    #app-header-info-and-links a {
        display: inline-block;
        vertical-align: top;
        padding: 0 0.5rem;
        margin: 0;
    }
    #app-header-info-and-links button > .label span {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }

    #app-header-info-and-links .qrcode > img,
    #app-header-info-and-links .qrcode .qrcode-image {
        width: 6.4rem;
        height: 6.4rem;
    }



    #app-header-info-and-links .mobile-app button {
        padding-left: 0.4rem; /* the icon is very thin/narrow */
    }

    #app-header-info-and-links .mobile-app button > .label {
        padding-left: 0.2rem; /* the icon is very thin/narrow */
    }

    #app-header-info-and-links .sns .label {
        margin-left: 0;
        display: none;
    }

    #app-header-info-and-links .sns .weixin .floating-layer .columns {
        margin: -0.25rem;
    }
    #app-header-info-and-links .sns .weixin .floating-layer .col {
        padding: 0.25rem;
    }
