#app-header-info-and-links {
    font-size: 12px;
    border-bottom: 1px solid;
    z-index: 2; /* for qrcode floating layers */
    }

    #app-header-info-and-links button {
        margin: 0;
        padding: 0 0.5em;
        white-space: nowrap;
    }

    #app-header-info-and-links button .iconfont ~ .label {
        margin-left: 0;
        padding-left: 0.5em;
    }

    #app-header-info-and-links a:hover {
        text-decoration: none;
    }

    #app-header-info-and-links .iconfont {
        font-size: 21px;
        width: 21px;
        vertical-align: top;
        margin: 0;
    }

    #app-header-info-and-links .mobile-app button {
        padding-left: 0.4em; /* the icon is very thin/narrow */
    }

    #app-header-info-and-links .mobile-app button .iconfont {
        width: 0.7em; /* the icon is very thin/narrow */
    }

    #app-header-info-and-links .mobile-app button > .label {
        padding-left: 0.2em; /* the icon is very thin/narrow */
    }

    #app-header-info-and-links .sns .label {
        margin-left: 0;
        display: none;
    }

    #app-header-info-and-links .sns .weixin .floating-layer .columns {
        margin: -5px;
    }
    #app-header-info-and-links .sns .weixin .floating-layer .col {
        padding: 5px;
    }

    #app-header-contacts,
    #app-header-user-account-commands {
        vertical-align: top;
        display: inline-block;
        position: relative;
        width: 50%;
        line-height: 35px;
    }

    #app-header-contacts {
        left: -10px;
    }
    #app-header-user-account-commands {
        right: -10px;
    }
    #app-header-contacts .toolbar > li,
    #app-header-user-account-commands .toolbar > li {
        padding: 0 10px;
        margin-top: 0;
        margin-bottom: 0;
    }
    #app-header-contacts button,
    #app-header-contacts span,
    #app-header-contacts a,
    #app-header-user-account-commands .menu.level-1 > .menu-item > .label,
    #app-header-user-account-commands button,
    #app-header-user-account-commands span,
    #app-header-user-account-commands a {
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        margin: 0 -10px;
    }
    #app-header-user-account-commands .menu.level-1 > .menu-item:before {
        content: none;
    }
    #app-header-user-account-commands .menu.level-1 > .menu-item > a > .label {
        vertical-align: top;
        padding: 0;
        margin: 0;
    }

    #app-header-user-account-commands {
        text-align: right;
        }

        #app-header-user-account-commands .user-known,
        #app-header-user-account-commands.user-has-logged-in .user-guest {
            display: none;
        }
        #app-header-user-account-commands.user-has-logged-in .user-known {
            display: inline-block;
        }
